<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Submitted</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Thank you,Your complaint has been submitted.</h1>
    <h1>and your complaint Id is <%= id %></h1>
    <p>**NOTE:Please make sure to remember the id to know the status about the complaint.** </p>
    <a href="/login">Submit another complaint</a>
    <a href="/track-status">View complaint status.</a>

    <script src="app.js"></script>

</body>
</html>
